*{
    margin:0;
    padding:0;
    color:white;
    font-family: 'Raleway', sans-serif;
}
@media only screen and (max-width:450px){
    .nav-links{
        display: none!important;
    }
}
@media only screen and (max-width:700px){
    .navbar{
        padding: 2em!important;
    }
    .intro-folder{
        width:70%;
    }
    .intro-container{
        background-image: url('images/bg-curvy-mobile.svg');
    }
}
@media only screen and (max-width:1200px){
    .intro-container{
        padding: 2em!important;
    }
    .features-container{
        grid-template-areas: 
        '.'
        '.'
        '.'
        '.'!important;
        padding: 10em 0!important;
    }
    .works-container{
        flex-direction: column;
        padding:0 1em!important;
    }
    .works-text{
        margin: 3em !important;
    }
    .testi-container{
        flex-direction: column;
        row-gap: 2em;
        background-position:27% 17%!important;
        padding:3em !important;
    }
    .feature{
        padding:0 5em;
    }
    .subscribe-container{
        padding : 0 !important;
    }
    form{
        flex-direction: column;
        row-gap: 2em;
    }
    .footer-container{
        grid-template-areas: 
        'logo'
        'location'
        'contact'
        'quick1'
        'quick2'!important;
        padding-left: 2em!important;
    }
    input{
        flex: 1 1 2em!important;
    }
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 5.5em 10em 5em 10em;
}
.nav-links{
    display: flex;
    
}
.nav-links > h3{
    margin-left:2em;
    font-weight: 100;
    
}
.main-body{
    display: flex;
    flex-direction: column;
}
.intro-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-image: url('images/bg-curvy-desktop.svg');
    background-size:100% 27%;
    background-repeat: no-repeat;
    background-position:bottom;
    padding: 0 26%;
}
.intro-folder{
    align-self:center;
    margin-bottom:3.4em;
    
}
.intro-container > h1{
    margin-bottom:1.3em;
    font-size: 2.5em;
    font-weight: 600;
}
.intro-container > h2{
    line-height:1.4em;
    font-weight: 300;
    margin:0 2em;
    font-size:1.3em;
    margin-bottom:1em;
    font-family: 'Open Sans', sans-serif;
}
.intro-container > a{
    background-image:linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
    padding: 1em 5em;
    align-self: center;
    border-radius: 3em;
    text-decoration: none;
}
.features-container{
    display: grid;
    grid-template-areas: 
    '. .'
    '. .';
    background-color:hsl(218, 28%, 13%);
    padding: 10.5em 20em;
    column-gap: 10em;
    row-gap: 10em;
}
.feature{
    justify-self: center;
    text-align: center;
}
.feature > h3{
    padding:1.6em 0 0.9em;
}
.feature > h4{
    font-weight: 100;
    font-size:0.9em;
}
.works-container{
    display: flex;
    background-color:hsl(218, 28%, 13%);
    padding:0 15vh;
}
.works-text{
    align-self: center;
    margin-left:5em;
    margin-right:1em;
    font-size: 1.5em;
}
.works-text > p{
    padding-bottom:2em;
}
.works-text > a{
    color:hsl(176, 68%, 64%);
    text-decoration: underline;
}
.testi-container{
    background-color: hsl(218, 28%, 13%);
    background-image: url("images/bg-quotes.png");
    background-position: 13% 30%;
    background-repeat: no-repeat;
    padding:15em 15em;
    display: flex;
    flex:1 1 200cm;
    column-gap: 2em;
}
.author{
    padding-top:2em;
    display:flex;
    column-gap: 1em;
}
.author > img{
    border-radius: 50%;
    width:3em;
    height: 3em;
    align-self: center;
}
.card{
    background-color:#202a3c;
    padding:3em 2em;
    box-shadow: 7px 4px 5px 0px rgba(32,42,60,0.35);
    font-family: 'Raleway', sans-serif;
}
.subscribe-container{
    background: linear-gradient(180deg, hsl(218, 28%, 13%) 70%, hsl(216, 53%, 9%) 50%);
    padding:1em 25em;
    display:flex;
}
.subscribe-card{
    flex-direction: column;
    display: flex;
    border-radius: 0.35em;
    background-color:hsl(217, 28%, 15%);
    text-align: center;
    padding:3em 5em;
    box-shadow: 7px 4px 5px 0px rgba(0,0,0,0.35);

}
.subscribe-card > h3{
    margin:2em;
    font-weight: 100;
}
input{
    background-color:white;
    color:blue;
    border-radius: 3em;
    padding:1em 0em;
    flex: 1 1 200px;
    
}
button{
    background-image: linear-gradient(to right, rgb(101, 226, 217), rgb(51, 158, 204));
    border-radius: 3em;
    padding:1em 3em;
    flex:1 1 50px;
    border-style: none;
}
form{
    display: flex;
    column-gap: 3em;
}
.footer-container{
    background-color: hsl(216, 53%, 9%);
    padding:3em;
    padding-left:10em;
    display:grid;
    row-gap:2em;
    grid-template-areas:
    'logo logo logo logo'
    'location contact quick1 quick2';
}
.footer-container > div{
    row-gap: 1em;
    display: flex;
    flex-direction: column;
    column-gap: 2em;
    row-gap:1em;
}
.footer-container > div > *{
    flex-direction: row!important;
    
}
.footer-img{
    grid-area:logo;
}